<mat-toolbar color="primary" class="mat-elevation-z2">
  <div class="logo" routerLink="/">Night Ops Wear</div>

  <span class="spacer"></span>

  <nav class="desktop-only">
    <input
      matInput
      type="search"
      placeholder="Search..."
      (keyup.enter)="productSearch()"
      [(ngModel)]="productName"
    />
    <button mat-button (click)="login()" *ngIf="!isLoggedIn">
      <mat-icon>person</mat-icon>Login / Sign-up
    </button>
    <div *ngIf="isLoggedIn">
      <h2>Welcome, {{ customer.firstName }}!</h2>
    </div>
  </nav>
</mat-toolbar>
